.reader-block-buttons {
	position: fixed;
	bottom: 8px;
	display: flex;
	z-index: var(--layer-status-bar);
	left: 50%;
	transform: translateX(-50%);
	background-color: vaR(--background-primary-alt);
	border-radius: 100vh;
	overflow: hidden;
}

.reader-block-buttons button {
	width: 80px;
	height: var(--input-height);
}

.reader-highlight {
	background-color: var(--color-base-30);
	border-radius: var(--radius-s);
}

.reader-mode [class^="el-"] {
	transition: opacity var(--anim-duration-fast);
}

.reader-active [class^="el-"]:not(.mod-ui):not(.reader-highlight) {
	opacity: 0.5 !important;
}
